/* External CSS styles */
body {
    font-family: Arial, sans-serif;
    background-image: url('Desktop Wallpaper Spider Man, Red Suit, Minimal, Hd Image, Picture, Background, 898bbb.png'); /* Replace with your image URL */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-size: cover; /* Adjust background size to cover the entire viewport */
    height: 100vh; /* Set the height to 100% of the viewport height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

h1, p {
    text-align: center;
    color: #fff; /* Text color on the background */
    background-color: rgba(0, 0, 0, 0.5); /* Adds transparency to the text background */
    padding: 10px;
}
